.img{
	background-image: url("./images/lib_home_page1.jpg");
	background-size: cover;
}

.text_format{
	color: #eeeeee;
	text-shadow: 3px 2px #000000;
	font-family: "Comic Sans";
	font-size: 20px;
}

.text_format_title{
	color: #eeeeee;
	text-shadow: 3px 2px #000000;
	font-family: "Trebuchet MS Header";
	font-weight: bold;
	font-size: 25px;
}
